<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../elements/head") %>
</head>
<body class="container access-denied">

<header>
    <%- include ("../elements/header") %>
</header>

<main>
    <div class="">
        
        <%- include ("../elements/alert") %>
        
        <h1 class="title"><%= title %></h2>

    </div>
</main>

<footer>
    <%- include ("../elements/footer") %>
</footer>

</body>
</html>
