
<meta charset="UTF-8">
<title>Node MVC Demo Site</title>

<link rel="stylesheet" href="<%= site_base %>/css/bootstrap.min.css">
<link rel="stylesheet" href="<%= site_base %>/css/node_mvc.css">

<script src="<%= site_base %>/js/jquery.min.js"></script>
<script src="<%= site_base %>/js/bootstrap.min.js"></script>
<script src="<%= site_base %>/js/bootbox.js"></script>
