
<nav class="navbar navbar-expand-md">    
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-site-home">
                <a class="nav-link" href="<%= site_base %>/">
                    <span class="site-name">City Ratings</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= site_base %>/cities">
                    Cities
                </a>
            </li>
        <% if (typeof user == "object" && user != null /* && user.role == "admin" */) { %>
            <li class="nav-item">
                <a class="nav-link" href="<%= site_base %>/favorites">
                    Favorites
                </a>
            </li>
        <% } %>
            <!-- li class="nav-item">
                <a class="nav-link" href="<%= site_base %>/about">
                    About
                </a>
            </li -->
        <% if (typeof user == "object" && user != null /* && user.role == "admin" */) { %>
            <li class="nav-item">
                <a class="nav-link" href="<%= site_base %>/logout">
                    Logout
                </a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="<%= site_base %>/login">
                    Login
                </a>
            </li>
        <% } %>
        </ul>
    </div>
</nav>
